@media print {
  .main-sidebar,
  .main-header,
  .content-header,
  .btn-print,
  footer {
    display: none !important;
  }

  .content-wrapper {
    margin: 0 !important;
    padding: 0 !important;
  }

  .table thead th {
    background-color: #ccc !important;
    color: black !important;
  }
}
